html {
    overflow-y:scroll;
}

body {
    background-color: gray;
}

#container {
    width: 800px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#container #inner {
    height: 100%;
    width: 100%;
}

#inner {
    background-color: #FFFD91;
}

#topnav {
    width: auto;
    height: 2.5em;
    background-color: gold;
    font-size: 20pt;
    color: black;
}
#maintitle {
    font-family: Impact, Charcoal, sans-serif;
    float: left;
    margin: .5em 1em .5em 1em;
}
#maintitle a, #maintitle a:hover,
#maintitle a:visited, #maintitle a:active {
    color: #555;
    text-decoration: none;
    font-family: Impact, Charcoal, sans-serif;
}

#topnavbar {
    font-family: Impact, Charcoal, sans-serif;
    margin: .75em 1em .5em 1em;
    float: left;
}

#topnavbar li {
    float: left;
    padding-right: 2em;
    font-size: 14pt;
    font-family: Charcoal, sans-serif;
}

#mainbody {
    margin: 1.25em;
    clear: both;
    font-family: sans-serif;
}

#profile {
    margin: 1em;
    width: 200px;
    height: 200px;
    background-image: url("image/face.jpg");
}

#profile:hover {
    margin: 1em;
    width: 200px;
    height: 200px;
    background-image: url("image/face2.jpg");
}

#rightmain {
    float: right;
}

h2 {
    display: inline;
}

.block {
    border-radius: 10px;
    background-color: black;
    color: yellow;
    padding: 1em;
    margin-bottom: 1em;
    clear: both;
    max-width: 300px;
        
}

.block a {
    text-decoration: none;
    color: #FFFF66;
}
.block a:active {
    text-decoration: none;
    color: gray;
}
.block a:visited {
    text-decoration: none;
    color: #CCCC00;
}
.block a:hover {
    text-decoration: none;
    color: #FFCC00;
}

.block h2, .block h3 {
    display: inline;
}

//bar graph
.barGraph {
    border-bottom: 1px solid #FFF;
    position: relative;
    }
    
.barGraph li {
    background-color: transparent;
    border: 1px solid #555;
    border-left: none;
    position: relative;
    text-align: left;
    height: 2.4em;
    clear: both;
    list-style-type: none;
    padding: 5px;
    }
    
 .barGraph li.leobar { background-color: #8671FD; }
 .barGraph li.donbar { background-color: #CD65FA; }
 .barGraph li.rapbar { background-color: #FA6565; }
 .barGraph li.micbar { background-color: #FAAD65; }
 .barGraph li.krabar { background-color: #F7F461; }
 .barGraph li.rocbar { background-color: #CECECE; }
 .barGraph li.greenbar { background-color: #7EF085; }
 
 .submitbutton {
     background: none;
     border: none;
     color: #FFFF66;
     text-decoration: none;
     cursor: pointer;
     size: 3em;
     font-family: sans-serif;
     font-weight: bold;
     display: inline;
 }