
body {
    font-family: sans-serif;
    background-color: lightgray;
}

#container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#inner {
    width: 100%;
}

#topnav {
    width: 100%;
    height: 3em;
    background-color: white;
    font: molot, telegrafico, arial black, impact, sans-serif;
    font-size: 20pt;
    color: darkred;
}
#maintitle {
    float: left;
    margin: 1em;
}

#topnavbar {
    margin: 1em;
    float: left;
}

#topnavbar li {
    float: left;
    padding-right: 2em;
    padding-top: 8px;
    font-size: 14pt;
}

#mainbody {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    clear: both;
}

#profile {
    margin: 1em;
    float: left;
}

.block {
    border-radius: 10px;
    background-color: lightyellow;
    color: darkred;
    padding: 1em;
    margin-bottom: .5em;
}

.block h2 {
    display: inline;
}