html {
    overflow-y:scroll;
}

body {
    font-family: sans-serif;
    background-color: lightgray;
}

#container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#container #inner {
    width: 100%;
}

#topnav {
    width: auto;
    height: 3em;
    background-color: lightyellow;
    font: molot, telegrafico, arial black, impact, sans-serif;
    font-size: 20pt;
    color: darkred;
}
#maintitle {
    float: left;
    margin: 1em;
}
#maintitle a, #maintitle a:hover,
#maintitle a:visited, #maintitle a:active {
    color: darkred;
    text-decoration: none;
}

#topnavbar {
    margin: 1em;
    float: left;
}

#topnavbar li {
    float: left;
    padding-right: 2em;
    padding-top: 8px;
    font-size: 14pt;
}

#mainbody {
    margin-top: 1em;
    margin-bottom: 1em;
    clear: both;
}

#profile {
    margin: 1em;
    width: 200px;
    height: 200px;
    background-image: url("image/face.jpg");
}

#profile:hover {
    margin: 1em;
    width: 200px;
    height: 200px;
    background-image: url("image/face2.jpg");
}

#rightmain {
    float: right;
}

.block {
    border-radius: 10px;
    background-color: lightyellow;
    color: darkred;
    padding: 1em;
    margin-bottom: 1em;
}

.block h2 {
    display: inline;
}